# Java
*.class
*.jar
*.war
*.ear

# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Eclipse and STS
.project
.classpath
.settings/
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Spring Boot
target/
build/

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Jupyter Notebook
.ipynb_checkpoints/

# SBT
project/target/
project/project/
*.sbt
*.class
*.lock

# Other
*.swp
*~
*.swo
*.tmp
*.bak
*.orig
*.sublime-workspace

# IDEA
*.iws
*.iml
*.ipr
.idea/

#ApplicationProperties
*.properties
src/main/resources/application.properties