.App {
  text-align: center;
  font-size: small;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: Gilroy !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gilroy;
  src: url(../public/Gilroy-Medium.ttf);
}

/* src/vendor/layouts/VendorLayout.css */
/* .vendor-layout {
  display: flex;
}

.vendor-content {
  flex-grow: 1;
  padding: 20px;
} */

/* You may want to import this CSS in your VendorLayout.js file */


/* Admin page component's redux css*/
.vendor-count {
  display: inline-block;
  background-color: rgb(179, 5, 14);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px; /* Centers the text vertically */
  position: relative;
}

.customer-count {
  display: inline-block;
  background-color: rgb(5, 101, 179);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px; /* Centers the text vertically */
  position: relative;
}

.deliveryboy-count {
  display: inline-block;
  background-color: rgb(127, 179, 5);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px; /* Centers the text vertically */
  position: relative;
}
